@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  font-weight: bold;
}

#logo {
  width: 72px;
  height: 72px;
}

.tweet {
  margin: 16px;
  padding: 8px;
  border: 1px solid #aaaaaa;
  background: rgb(240, 240, 240);
  color: hsl(0, 0%, 20%);
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}
