body {
  font-family: sans-serif;
}

button:hover {
  font-weight: bold;
}

#logo {
  width: 10%;
  /* height: 72px; */
}

.tweet {
  border: 1px solid #aaaaaa;
  background: rgb(240, 240, 240);
  color: hsl(0, 0%, 20%);
}
